<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel='icon' href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="head">
        {{>header}}
        <p>This page is create by Arivazhagu Al. This uses weatherstack to fetch the latest data</p>
    
    <img src="/img/dsBuffer.png">
    </div>
    
    {{>footer}}  
</body>